.divContador {
    height: 50px;
    width: auto;
    background: rgb(58, 159, 253);
    margin: 10px;
    padding: 20px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between
}


button {
    margin: 15px;  
    padding: 10px;
    font-size: 20px;
}


.link {
    text-decoration: none;
    color: black;
    margin: 30px;
}