.divContador {
    height: 100px;
    width: auto;
    background: rgb(58, 159, 253);
    margin: 10px;
    padding: 20px;
    font-size: 50px;
    display: flex;
    align-items: center;

}


button {
    margin: 20px;
    font-size: 20px;
}


.link {
    text-decoration: none;
    color: black;
    font-size: 40px;
    margin: 30px;
}