.listContenedor {
    height: auto;
    width: auto;
    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: space-evenly;
}

.listContenedor h2 {
    width: 300px;
    height: 150px;
}